.booking-link {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  &:hover {
    text-decoration: none;
  }
}

.booking-card {
  margin: 250px 120px;
  text-align: center;
  padding: 50px 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 4px grey;
  background: #E0E2DB;
}
