
.banner-forgot-password {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1503528108408-87b0d1c2b785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1474&q=80');
  background-size: cover;
  background-position: center;
  min-height: calc(40vh);
  padding: 170px 0;
  font-family: 'Montserrat';
}

.forgot-password-title {
  text-align: center;
}

.forgot-password-box {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  background-color: rgba(252, 252, 252, 0.7);
  border-radius: 6px;
}

.forgot-password-button {
  text-align: center;
}

.forgot-password-shared-links {
  text-align: center;
  padding: 20px;
}

.forgot-password-shared-links a {
  font-family: 'Montserrat';
  font-weight: 500;
  text-decoration: none;
  color: white !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

