// Specific CSS for your home-page

.home-container {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1547423753-bff7561e2956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  padding-top: 20vh;
}

.home-container h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
}

.form_home {
    border-radius: 5px;
    background-color: rgba(252, 252, 252, 0.3);
    padding-bottom: 30px;
    padding-top: 10px;
    max-width: 450px;
    margin: 0 auto !important;
    font-family: 'Montserrat';
}

.form_home h2 {
  color: white !important;
  font-size: 20px;
  font-family: 'Montserrat';
  // font-weight:;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form_input {
  vertical-align: center;
}

.info-below-banner-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 10px;
}

.footer {
  background-color: black;
  height: 150px;
}

.footer h3 {
  color: white;
  text-align: center;
}

.footer p {
  color: white;
  text-align: center;
}

.three-icons:hover {
  transition: 0.5s;
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    border-radius: 5px;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// // }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .form_home {
//     margin: 2rem 8rem !important;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .form_home {
//     margin: 2rem 12rem !important;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .form_home {
//     width: fit-content;
//   }
// }

