// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

.home-container {
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1547423753-bff7561e2956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 56px);
}

.home-container h1 {
  font-size: 100px;
  color: white;
  font-family: 'Kaushan Script', ;
}

.form_home {
  border-radius: 5px;
  background-color: grey;
  width:500px;
  margin-bottom: 100px;
  margin:100px ;
  float:right;
  top:-40px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 100px;
  box-shadow: 2px 3px 3px darkgrey;
}

.form_home h2 {
  font-family: 'Kaushan Script', ;
}


