// .border-bottom {
//   border-bottom: 5px solid red;
// }
.underline {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.form-class {
  padding: 10px 10px;
  background-color: #e5e4cc;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #e5e4cc;
}

.submit-booking {
  width: 100%;
  background-color: lightgrey;
  border-radius: 5px;
}

.back-button {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.back-button:hover {
  color: black;
  text-decoration: none;
  opacity: 0.6;
}
