// .border-bottom {
//   border-bottom: 5px solid red;
// }

.underline {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.form-class {
  padding: 10px 10px;
  background-color: #e5e4cc;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #e5e4cc;
  display: flex;
  flex-direction: column;
}

.submit-booking {
  width: 75%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
}

.back-button {
  text-align: center;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 25px;
  padding: 8px 15px;
  width: 20%;
  margin: 0 auto;
  margin-top: 15px;
}

.back-button:hover {
  color: black;
  text-decoration: none;
  opacity: 0.6;
}

.show_avatar {
  width: 500px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgrey;
}

.show_position {
  text-align: center;
  padding-top: 10px;
}

.price-target {
  font-size: 25px;
}
