.sign_up_form {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 20px;
  width: 400px;
  font-family: 'Montserrat';
}

.form-inputs {
  font-weight: 500;
  color: rgb(60,60,60) !important;
}

.text-muted {
  color: rgb(60,60,60) !important;
}
