<div class="container">
  <div class="booking-card">
    <h2>Congratulations! Your booking is confirmed</h2>
    <h3>6.30-18.30 1/03/2020</h3>
    <p><%= link_to "Explore more performers", performers_path %></p>
  </div>
</div>
