
<div class="home-container">
  <div class="banner-text">
    <p class="bold">The place for</p>
    <p>
    <span id="banner-typed-text"></span>
    </p>
  </div>
  <div class="form_home">
    <h2 style="color: white;">Search for your Artist</h2>
    <%= simple_form_for :search, url: performers_path, method: :get do |f| %>
      <%= f.input :job_title %>
      <%= f.input :location %>
      <%= f.submit "Search", class:"btn btn-outline-light"  %>
    <% end %>
  </div>
</div>
