<div class="home-container">
  <div class="row">
    <div class="col-xs-0 col-md-6 col-lg-6">

    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">

      <div class="banner-text">
        <p class="bold">The place for</p>
        <p>
        <span id="banner-typed-text"></span>
        </p>
      </div>


      <div class="form_home d-flex justify-content-center m-lg-5">
        <%= simple_form_for :search, url: performers_path, method: :get do |f| %>
          <h2>Choose a performer type</h2>
          <%= f.input_field :job_title, collection: ["Fire Performer", "Actor", "Circus performer", "Singer", "All"], required: false, input_html: { class: "form_input" } %>
          <%= f.submit "Search", class:"btn btn-light ml-3"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
