
<div class="home-container">
  <h1 style="text-align: center;">PerformerNow</h1>


  <div class="form_home">
    <%= simple_form_for :search, url: performers_path, method: :get do |f| %>
    <h2>Search for your Artist</h2>
    <%= f.input :job_title %>
    <%= f.input :location %>
    <%= f.submit "Search" %>
  </div>

  <% end %>


</div>
