<div class="home-container">
  <div class="row">
    <div class="col-xs-0 col-md-6 col-lg-6">

    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">

      <div class="banner-text">
        <p class="bold">The place for</p>
        <p>
        <span id="banner-typed-text"></span>
        </p>
      </div>


      <div class="form_home d-flex justify-content-center m-lg-5">
        <%= simple_form_for :search, url: performers_path, method: :get do |f| %>
          <h2>Choose a performer type</h2>
          <%= f.input_field :job_title, collection: ["Fire Performer", "Actor", "Circus performer", "Singer", "All"], required: false, input_html: { class: "form_input" } %>
          <%= f.submit "Search", class:"btn btn-dark ml-3"  %>
        <% end %>
      </div>


    </div>
  </div>
</div>
  <br>
  <h2 style="text-align: center; font-size: 50px;">Three Easy Steps</h2>
  <br>
<div class="container info-below-banner" style="text-align: center;">
  <div class="row">
    <div class="col-lg-4 three-icons">
       <img src="https://lh3.googleusercontent.com/proxy/CTn9i50iOgaTQCsYNwj1jEE8-8EuVxFw6nEzEsskGfZfUtKfkcusRknrpB1ovKbVhWme1ejer6XVBEpayoytoAPdONnIfToa6Zey4cM-_NiiNh_0C8MVAh8TXguNSS9SzaKGSQ" alt="#" class="info-below-banner-image">
       <h3>Search Artist</h3>
       <p>View from a wide varity of artists, in many different categories, with many different skills</p>
    </div>
     <div class="col-lg-4 three-icons">
       <img src="https://getdrawings.com/vectors/human-symbol-vector-1.png" alt="#" class="info-below-banner-image">
       <h3>Find Artist</h3>
       <p>Once you have found an Artist, view there creditials and make sure they are perfect for your event.</p>
     </div>
     <div class="col-lg-4 three-icons">
       <img src="https://svgsilh.com/svg/304167.svg" alt="#" class="info-below-banner-image">
       <h3>Book Artist</h3>
       <p>All you have to do now is book your chosen Artist, its as simple as that, don't delay book today.</p>
     </div>
   </div>
</div>

<br>

<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-lg-4" style="padding-bottom: 20px;">
      <img src="https://images.unsplash.com/photo-1526218626217-dc65a29bb444?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%; box-shadow: 0 0 80px darkgrey;">
    </div>
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1510414757097-4e2c73789c37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%; margin-bottom: 30px;box-shadow: 0 0 80px darkgrey;">
      <img src="https://images.unsplash.com/photo-1474959783111-a0f551bdad25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey;">
    </div>
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1556836401-0f37d9fe0782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey; margin-bottom: 10px;">
      <img src="assets/logo_black.png" alt="#" style="width: 100%;">
    </div>
    <br>
    <div class="row">
      <div class="col-lg-8">
        <img src="https://images.unsplash.com/photo-1502206097369-e088c94dcf4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey;">
        <img src="assets/logo_black.png" alt="#" style="width: 100%;">
      </div>
      <div class="col-lg-4">
        <img src="https://images.unsplash.com/photo-1572891737557-2157a4d4f780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%; margin-bottom: 20px; box-shadow: 0 0 80px darkgrey;">
        <img src="https://images.unsplash.com/photo-1518930259200-3e5b29f42096?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey; margin-top: 10px;">
      </div>
    </div>
    <br>
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-lg-6">
        <img src="https://images.unsplash.com/photo-1503095396549-807759245b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey;">
      </div>
      <div class="col-lg-6">
        <img src="https://images.unsplash.com/photo-1508326010745-1999bb16bd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="#" style="width: 100%;box-shadow: 0 0 80px darkgrey;">
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <h3>Follow us</h3>
  <p>Click on the links below</p>
</div>











