.card-performer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  font-family: "Montserrat" !important;
  transition: top ease 0.4s;
  position: relative;
  top: 0;
}

.card-links {
  text-decoration: none !important;
  color: black;
  font-family: "Montserrat" !important;
  &:hover {
    color: black;
  }
}

.card-performer:hover {
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  top: -4px;
}


.card-performer > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-performer h2 {
  font-size: 16px;
  font-weight: bold !important;
  margin: 0;
  font-family: "Montserrat" !important;
}

.card-performer p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  font-family: "Montserrat" !important;
}


.card-performer .card-performer-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-family: "Montserrat" !important;
  font-weight: bold !important;
}

.card-performer-pricing {
  font-family: "Montserrat" !important;
  font-weight: bold !important;
}

.card-performer-infos .card-performer-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  object-fit: cover;
  object-position: 50% 20%;
}

.booking-card {
  margin: 250px 120px;
  text-align: center;
  padding: 50px 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 4px grey;
  background: #E0E2DB;
}
