.footer {
  background-color: black;
  height: 120px;
  padding: 20px;
  margin-bottom: -17px;
}

.footer h3 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.footer p {
  color: white;
  text-align: center;
}
